*{
    margin: 0;
    padding: 0;
    font-family: Didot, serif; 
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: serif
}

nav{
    background:#2C3742;
    height: 80px;
    width: 100%;
    position: fixed;
}

img.Logo{
    height: 75px;
    width: auto;
    padding-top: 
}

header{
    background-image: url(../Images/Backrounds/HYCHBackround.png);
    height: 100vh;
    background-size: cover;
    background-position:center;
}

nav ul{
    float: right;
    list-style-type: none;
    margin-right: 20px
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.5s ease;
    font-size: 20px
}

nav ul li a:hover{
    background-color: #fff;
    color: #000
}
nav ul li.active a{
    background-color: #fff;
    color: #000
}


.logo img{
    float: left;
    width: 140px;
    height: auto;
    padding: 4px; 
    border: 3px solid #fff;
    margin-top: 30px;
    margin-left: 30px
}

Header{
    margin: 10px;
}

.Title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.Title h1{
    font-size: 80px;
    color: #2C3742;
    text-align: center;
}

.Title h2{
    font-size: 34px;
    color: #313D49;
    text-align: center;
}

#navlist {
    position: relative;
    top: 60%;
    left: 90%;
    transform: translate(-50%,-50%);
    
}

#navlist li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}

#navlist li, #navlist a {
    height: 44px;
    display: block;
}


#facebook {
    left: 0px;
    width: 46px;
    background: url('../Images/Icons/FBicon.PNG') 0 0;
}

#facebook:hover {
    transform:scale(1.25)
}

#twitter {
    left: 63px;
    width: 43px;
    background: url('../Images/Icons/TWicon.PNG') -47px 0;
}

#twitter:hover {
    transform:scale(1.25)
}

#instagram {
    left: 129px;
    width: 43px;
    background: url('../Images/Icons/IGicon.PNG') -91px 0;
}

#instagram:hover {
    transform:scale(1.25)
}

#youtube {
    left: 192px;
    width: 43px;
    background: url('../Images/Icons/YTicon.PNG') -135px 0;
}

#youtube:hover {
    transform:scale(1.25)
}

.two{
    background-image: url(../Images/Backrounds/ReBackgroundDarker.png);
    background-position: center;
    background background-repeat: no-repeat;
}


iframe{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 4%;
}

.two p{
    font-size: 32px;
    color: #fff;
    text-align: center;
    margin: 1%;
    margin-left: 15%;
    margin-right: 15%
}





.three{
    background-image: url(../Images/Backrounds/ReBackgroundLight.png);
    background-position: center;
    background background-repeat: no-repeat;
}

.three h1{
    font-size: 50px;
    color: #2C3742;
    text-align: center;
}
.three p{
    font-size: 30px;
    color: #2C3742;
    text-align: justify;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 1%;
}

#SSZ{
    object-fit: cover;
	margin: 1%;
    margin-left: 15%;
	float: left;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	border: solid #2C3742;
	transition: 1.0s;
}

#SSZ:hover {
	border: solid #BC9C7C;
    transform: rotate(360deg)
}

.four{
    background-image: url(../Images/Backrounds/BackgroundDark.png);
    background-position: center;
    background background-repeat: no-repeat;
    background-color: #2C3742;
}

.four h1{
    font-size: 50px;
    color: #fff;
    text-align: center;
}
.four p{
    font-size: 42px;
    color: #fff;
    text-align: justify;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 3%;
}

#Enlightenment{
    object-fit: cover;
	margin: 1%;
    margin-right: 15%;
	float: right;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	border: solid #fff;
	transition: 1.0s;
}

#Enlightenment:hover {
	border: solid #BC9C7C;
    transform: rotate(360deg);
}

.five{
    background-image: url(../Images/Backrounds/BackgroundLight.png);
    background-position: center;
    background background-repeat: no-repeat;
}

.five h1{
    font-size: 50px;
    color: #2C3742;
    text-align: center;
}
.five p{
    font-size: 35px;
    color: #2C3742;
    text-align: justify;
    margin-right: 15%;
    margin-left: 15%
}

#Modern{
    object-fit: cover;
	margin: 1%;
    margin-left: 15%;
	float: left;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	border: solid;
	transition: 1.0s;
}

#Modern:hover {
	border: solid #BC9C7C;
    transform: rotate(360deg);
}


#reference{
    left: 0px;
    width: 46px;
    background: url(../Images/Icons/Ricon.png) 0 0;
    background-position: center;
    background-repeat: no-repeat;
    float: right;
}

footer{
    background-image: url(../Images/Backrounds/FooterBackground.png)
}

footer p{
    font-size: 20px;
    color: #BAB5B8;
    text-align: center;
}

#bibliography{
    font-size: 20px;
    text-align: center;
    color: #BAB5B8;
}

#bibliography a{
    font-size: 20px;
    text-align: center;
    color: #fff;
}